<h1>Welcome To The Donut Review</h1>

    
<h4> <%= link_to 'Log In', '/login' %> | <%= link_to 'Sign Up', '/signup' %> to get started </h4>
<h4> Or you can login with Google Here -><%= link_to("Login with Google", '/auth/google_oauth2', method: :post) %></h4>
