<%= flash[:message] %>

<h1> Welcome, <%= @user.username %>!</h1><br>

<h2> Your Donuts</h2>

<p>All the Donuts Already Created! YUMMMM! <%= link_to "Click here to see the donuts!", donuts_path %> </p>

<p>Time to make the donuts! <%= link_to "Click here to create a new donut to review!", new_donut_path %> </p>