<h1>All Donuts</h1>

<% @donuts.each do |donut| %>

<div>
    <br><%= link_to(donut.name_and_color, donut_path(donut)) %><br> 
    <p> Location Purchased: <%= donut.location %></p>
    <p> Reviews: <%= donut.reviews.count %></p>
    __________________________________________<br>
</div>

<% end %>