<h1> <%= @donut.name %> </h1>

<p>Location: <%= @donut.location %></p>

<h3>Tell Us What You Loved About Donut!</h3><br>
<%= link_to("I loved.....", new_donut_review_path(@donut)) %><br><br>

<%= link_to('delete donut', @donut, method: 'delete') %><br>