<h1>All Reviews For "<%= link_to(@donut.name, donut_path(@donut)) %>" </h1><br>

<% if @reviews.empty? %>

        <p>No one has reviewed <%= @donut.name %>! Be the first!

    <% else %>

        
        
        <% @donut.reviews.each do |donut| %>

        <div>
        <h4><%= "#{donut.user.username} said #{donut.description}" %></h4> 
        <div>    
            
        <% end %>

        </div>

    <% end %>

    <%= link_to("Review This Donut", new_donut_review_path(@donut)) %></p>