<h1>Review Show Page</h1>

<br><br>
<h2><%= @review.donut.name %></h2>

<h3> was </h3>
<p><%= @review.description %></p>


<br><% if @review.user == current_user %><br>
<%= link_to('edit review', edit_review_path(@review)) %><br>
<%= link_to('delete review', review_path(@review), method: 'delete') %><br>
<% end %>
